@charset "UTF-8";
body {
  margin: 0;
  color: white;
  font-family: sans-serif;
}

a {
  color: black;
  transition: color 0.1s;
}
a:hover, a:focus {
  color: grey;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

::selection {
  background: #fac6ff;
}

::-moz-selection {
  background: #fac6ff;
}

.cards {
  display: flex;
  flex-direction: column;
  margin-bottom: -200px;
}

.card {
  width: 275px;
  margin: 0 auto;
  padding: 20px;
  min-height: 250px;
  border-radius: 10px;
  border: 1px solid grey;
  transition: transform 0.5s;
}
.card--html {
  background: linear-gradient(217deg, #76fff8, #aaffad);
  transform: rotateZ(0);
}
.card--css {
  background: linear-gradient(10deg, #aaffad, #76fff8);
  transform: rotateZ(-3deg) translateY(-100px);
}
.card--js {
  background: linear-gradient(240deg, #aaffad, #76fff8);
  transform: translateY(-160px) rotate(4deg);
}
.card--sf {
  background: linear-gradient(190deg, #76fff8, #aaffad);
  transform: rotateZ(-2deg) translateY(-245px);
}
.card--wp {
  background: linear-gradient(310deg, #aaffad, #76fff8);
  transform: rotateZ(0deg) translateY(-360px);
}
.card__header {
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-family: "Carter One", sans-serif;
}
.card__link {
  padding: 1px 4px;
  background: #fdc5f8;
  color: black;
  text-decoration: none;
}
.card__link:hover, .card__link:focus {
  background: #ffacf8;
  color: black;
}

@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    margin: 0;
  }

  .card {
    margin: 20px 0 200px;
    flex-basis: 40%;
  }
  .card--html {
    transform: rotateZ(-10deg) translateY(30px);
  }
  .card--html.stacked {
    transform: rotateZ(-8deg) translateX(210%) translateY(50px);
  }
  .card--css {
    transform: rotateZ(-5deg);
  }
  .card--css.stacked {
    transform: rotateZ(5deg) translateX(118%) translateY(10px);
  }
  .card--js {
    transform: translateY(-10px);
  }
  .card--js.stacked {
    transform: rotateZ(-10deg) translateY(10px);
  }
  .card--sf {
    transform: rotateZ(5deg);
  }
  .card--sf.stacked {
    transform: rotateZ(0) translateY(0) translateX(-85%);
  }
  .card--wp {
    transform: rotateZ(10deg) translateY(30px);
  }
  .card--wp.stacked {
    transform: rotateZ(-4deg) translateY(5px) translateX(-188%);
  }
  .card__header {
    font-size: 18px;
  }
}
.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  background: white;
  box-shadow: 0 0 15px #d0d0d0;
  background-size: cover;
  position: relative;
}
.post__link::after {
  content: "→";
  position: absolute;
  top: 10px;
  right: 10px;
  opacitY: 0;
  font-size: 20px;
  transform: translateX(-5px);
  transition: transform 0.2s, opacity 0.2s;
}
.post__link:hover::after, .post__link:focus::after {
  opacity: 1;
  transform: translateX(-20px);
}
.post__img {
  width: 100%;
  padding: 10px 10px 3px;
  box-sizing: border-box;
  border-radius: 15px;
}
.post__desc {
  padding: 10px 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .posts {
    flex-direction: row;
  }

  .post {
    width: 48%;
  }
}
.section {
  background: white;
  color: black;
  padding: 60px 0;
  margin-top: -1px;
}
.section--sliced {
  margin-top: 30vh;
  padding: 10vh 0 0;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
  background: white;
}
.section--sliced svg {
  fill: black !important;
}
.section__content {
  width: 95%;
  margin: 0 auto;
  line-height: 1.5;
}
.section__content--hidden {
  opacity: 0;
  max-width: 1100px;
}
.section__header {
  margin: 0 0 10px;
  text-align: center;
  font-size: 18px;
  font-family: "Carter One", sans-serif;
}
.section__copy {
  margin: 0 auto 30px;
  font-size: 16px;
}

@media screen and (min-width: 350px) {
  .section__header {
    font-size: 18px;
  }
  .section__copy {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .section--sliced {
    padding: 15vh 0 0;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  }
}
@media (orientation: landscape) and (max-width: 850px) {
  .section--sliced {
    height: auto;
    padding: 20vh;
  }
}
.socials {
  display: flex;
  justify-content: center;
}
.socials--stuck {
  display: none;
  position: fixed;
  top: 20px;
}
.socials--stuck .socials__item {
  margin-bottom: 0;
}
.socials--stuck svg {
  fill: white;
}
.socials--inverted {
  display: none;
}
.socials__item {
  margin: 0 0 60px 20px;
}
.socials svg {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 768px) {
  .socials--stuck:not(.socials--inverted) {
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  .socials--inverted {
    display: flex;
  }
}
.header {
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
}
.header__text {
  animation: fadeIn 1s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin: 0;
  font-family: "Carter One", sans-serif;
  font-size: 26px;
  text-shadow: 0 0 10px black;
  background-image: url("images/tub-cat-optimized.jpg");
  background-position: 50% 35%;
  background-size: cover;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 5px;
  display: block;
}
.profile-pic-border {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  background: linear-gradient(310deg, #7fff83, #1ef8ed);
}
.profile-pic-border::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  animation: shine 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 25%, rgba(214, 214, 214, 0.5) 35%, rgba(255, 255, 255, 0) 40%, rgba(214, 214, 214, 0.5) 50%, rgba(255, 255, 255, 0) 55%);
}

.tag-line {
  opacity: 0;
  animation: fadeUp 0.5s;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.fade-copy {
  max-width: 600px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 768px) {
  .header__text {
    max-height: unset;
    font-size: 36px;
  }

  .tag-line {
    font-size: 24px;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }
  .profile-pic-border {
    width: 210px;
    height: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .header__text {
    font-size: 40px;
    background-position: 50% 50%;
  }
}
@media (orientation: landscape) and (max-width: 850px) {
  .header__text {
    height: 50vh;
    font-size: 26px;
  }

  .tag-line {
    font-size: 18px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shine {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(1000%);
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=main.css.map */
