body { 
    margin: 0;
    color: white;
    font-family: sans-serif;
}

a {
    color: black;
    transition: color 0.1s;

    &:hover,
    &:focus {
        color: grey;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

::selection {
    background: #fac6ff;
}

::-moz-selection {
    background: #fac6ff;
}

@import 'styles/cards';
@import 'styles/posts';
@import 'styles/section';
@import 'styles/socials';

.header {
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100vh;
    width: 100%;

    &__text {
        animation: fadeIn 1s;
        animation-delay: .25s;
        animation-fill-mode: forwards;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        margin: 0;
        
        font-family: 'Carter One', sans-serif;
        font-size: 26px;
        text-shadow: 0 0 10px black;
        background-image: url('images/tub-cat-optimized.jpg');
        background-position: 50% 35%;
        background-size: cover;
    }
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 5px;
    display: block;

    &-border {
        position: relative;
        width: 160px;
        height: 160px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        background: linear-gradient(310deg, #7fff83, #1ef8ed);

        &::after {
            content: '';
            position: absolute;
            top: -100%;
            left: -100%;
            right: -100%;
            bottom: -100%;
            animation: shine 2s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            background: linear-gradient(45deg, transparent 25%, rgba(#d6d6d6, .5) 35%, transparent 40%, rgba(#d6d6d6, .5) 50%, transparent 55%);
        }
    }
}

.tag-line {
    opacity: 0;
    font-size: 14px;
    text-align: center;

    animation: fadeUp .5s;
    animation-fill-mode: forwards;
}

.fade-in {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

.fade-copy {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    opacity: 0;
    animation: fadeIn .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@media screen and (min-width: 350px) {

    .fade-copy {
        margin: 40px auto;
    }

    .tag-line {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {

    .header {
        &__text {
            max-height: unset;
            font-size: 36px;
        }
    }

    .tag-line {
        font-size: 24px;
    }

    .profile-pic {
        width: 200px;
        height: 200px;

        &-border {
            width: 210px;
            height: 210px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .header {
        &__text {
            font-size: 40px;
            background-position: 50% 50%;
        }
    }
}

@media (orientation: landscape) and (max-width: 850px) {

    .header__text {
        height: 50vh;
        font-size: 26px;
    }

    .tag-line {
        font-size: 18px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shine {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(1000%);
    }

    75% {
        opacity: .25;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}