.form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 60px 20px 20px;
    border-radius: 10px;
    overflow: auto;
    border: 2px solid rgb(130, 34, 194);

    &--half {
        width: 50%;
    }

    &:focus-within {
        .form__img {
            animation-name: float;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.3, 0.05, 0.85, 1.29);
        }
    }

    &__header {
        text-align: center;
        transition: color 0.3s;
        color: var(--header-color);
    }

    label {
        box-sizing: border-box;
    }

    &__inline-wrap {
        display: flex;
        justify-content: space-between; 

        select,
        input {
            flex-basis: 32%;
        }
    }

    &__input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin: 5px 0 20px;
        padding: 10px;
        border: 2px solid rgb(213, 165, 245);
        border-radius: 5px;
    }

    &__button {
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 10px 30px;
        float: right;
        cursor: pointer;
        background-color: rgb(130, 34, 194);
        color: white;
        border-radius: 30px;
        border: 2px solid rgb(130, 34, 194);
        transition: background-color 0.2s;

        &:hover {
            background-color: rgb(102, 24, 153);
        }
    }

    &__img-wrap {
        position: relative;
    }

    &__img {
        display: block;
        width: 125px;
        margin: 0 auto 20px;
        border-radius: 50%;
        box-shadow: 0 0 10px 3px rgb(213, 165, 245);
    }

    &__img-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 0px;
        right: 60%;
        background-color: rgb(130, 34, 194);
        color: white;
        border-radius: 50%;
        border: 2px solid rgb(130, 34, 194);
        transition: background-color 0.2s;
        cursor: pointer;
        
        &:hover {
            background-color: rgb(102, 24, 153);
        }
    }
}

@media screen and (min-width: 768px) {
    .form {
        width: 50%;
        padding: 60px 40px 20px;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}