.cards {
    display: flex;
    flex-direction: column;
    margin-bottom: -200px;
}

.card {
    width: 275px;
    margin: 20px auto;
    padding: 20px;
    min-height: 250px;
    border-radius: 10px;
    border: 1px solid grey;
    transition: transform .5s;

    &--html {
        background: linear-gradient(217deg, #76fff8, #aaffad);
        transform: rotateZ(0);
    }

    &--css {
        background: linear-gradient(10deg, #aaffad, #76fff8);
        transform: rotateZ(-3deg) translateY(-100px);
    }

    &--js {
        background: linear-gradient(240deg, #aaffad, #76fff8);
        transform: translateY(-160px) rotate(4deg);
    }

    &--sf {
        background: linear-gradient(190deg, #76fff8, #aaffad);
        transform: rotateZ(-2deg) translateY(-245px);
    }

    &--wp {
        background: linear-gradient(310deg, #aaffad, #76fff8);
        transform: rotateZ(0deg) translateY(-360px);
    }

    &__header {
        margin: 0;
        font-size: 16px;
        text-align: center;
        font-family: 'Carter One', sans-serif;
    }

    &__link {
        padding: 1px 4px;
        background: #fdc5f8;
        color: black;
        text-decoration: none;

        &:hover,
        &:focus {
            background: #ffacf8;
            color: black;
        }
    }
}


@media screen and (min-width: 768px) {

    .cards {
        flex-direction: row;
        margin: 0;
    }

    .card {
        margin: 20px 0 200px;
        flex-basis: 40%;


        &--html {
            transform: rotateZ(-10deg) translateY(30px);

            &.stacked {
                transform: rotateZ(-8deg) translateX(210%) translateY(50px);
            }
        }

        &--css {
            transform: rotateZ(-5deg);

            &.stacked {
                transform: rotateZ(5deg) translateX(118%) translateY(10px);
            }
        }

        &--js {
            transform: translateY(-10px);

            &.stacked {
                transform: rotateZ(-10deg) translateY(10px);
            }
        }

        &--sf {
            transform: rotateZ(5deg);

            &.stacked {
                transform: rotateZ(0) translateY(0) translateX(-85%);
            }
        }

        &--wp {
            transform: rotateZ(10deg) translateY(30px);

            &.stacked {
                transform: rotateZ(-4deg) translateY(5px) translateX(-188%);
            }
        }

        &__header {
            font-size: 18px;
        }
    }
}