.section {
    color: black;
    padding-bottom: 60px;

    &--main {
        clip-path: polygon(0 8%, 100% 10%, 100% 100%, 0 100%);
        background: linear-gradient(white, #c3f9f5, #ddbefb 80%, #df68fc);
        padding: 40vh 0 0;

        svg {
            fill: black !important;
        }
    }

    &__content {
        width: 95%;
        margin: 0 auto;
        line-height: 1.5;

        &--hidden {
            opacity: 0;
            max-width: 1100px;
        }
    }

    &__header {
        margin: 0 0 10px;
        text-align: center;
        font-size: 18px;
        font-family: 'Carter One', sans-serif;
    }

    &__copy {
        margin: 0 auto 30px;
        font-size: 16px;
    }
}

@media screen and (min-width: 350px) {
    .section {
        &__header {
            font-size: 18px;
        }

        &__copy {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 768px) {

    .section {
        &--main {
            padding: 25vh 0 0;
            clip-path: polygon(0 5%, 100% 10%, 100% 100%, 0 100%);
            margin-top: 20vh;
            background: radial-gradient(white, #c3f9f5, #ddbefb 80%, #df68fc);
        }
    }
}

@media (orientation: landscape) and (max-width: 850px) {
    .section {
        &--main {
            height: auto;
            clip-path: polygon(0 7%, 100% 10%, 100% 100%, 0 100%);
            padding: 60vh 20vh 0;
            margin-top: -5vh;
        }
    }
}