.socials {
    display: flex;
    justify-content: center;

    &--stuck {
        display: none;
        position: fixed;
        top: 20px;

        .socials {
            &__item {
                margin-bottom: 0;
            }
        }

        svg {
            fill: white;
        }
    }

    &--inverted {
        display: none;
    }

    &__item {
        margin: 0 0 60px 20px;
    }

    svg {
        height: 30px;
        width: 30px;
    }
}

@media screen and (min-width: 768px) {
    .socials {
        &--stuck:not(.socials--inverted) {
            display: flex;
        }
    }
}

@media screen and (min-width: 1400px) {
    .socials {
        &--inverted {
            display: flex;
        }
    }
}