.socials {
    display: none;
    justify-content: center;

    &--stuck {
        position: fixed;
        top: 20px;

        svg {
            fill: white;
        }
    }
    
    &__item {
        margin: 0 0 20px 20px;
    }

    svg {
        height: 30px;
        width: 30px;
    }
}

@media screen and (min-width: 768px) {
    .socials {
        display: flex;
    }
}