:root {
    --header-color: black;
    --bg-color: white;
}

body {
    margin: 0;
    font-family: sans-serif;
    transition: background-color 0.3s;
    background-color: var(--bg-color);
}

h1 {
    margin: 100px 30px;
    line-height: 1.5;
    color: var(--header-color);
    text-align: center;
    font-size: 26px;

    span {
        background: rgb(175, 175, 175);
        font-family: monospace;
        padding: 2px 5px 5px;
        border-radius: 10px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

section {
    margin: 100px 0;
}

@import "styles/socials";
@import "styles/form";
@import "styles/toggle";
@import "styles/card";
